@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease;
}

:root{
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75, 89);
    --whiteColor: rgba(225, 225, 225, 90%);
    --blackColor: rgba(0, 0, 0, 75%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(111, 11%, 85%);
    --inputColor: hsl(154, 14%, 90%); 
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize:.938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
    
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
.icon{
    font-size: var(--h2FontSize);
}
img{
    width: 100%;
    height: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--inputColor);
    padding: .8rem 1rem;
    color: var(--greyText);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    background: var(--paleGreen);
    color: var(--whiteColor);
}

body{
    display: flex;
    padding: 1rem;
    min-height: 100vh;
}

.containerDiv{
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    background: var(--bgColor);
    margin: 0;
}


.mainContent{
    padding-left: 20%;
}

.bottom{
    width: 100%;
}

::-webkit-scrollbar{
    display: none;
}