.tableDiv{
    width: 100%;
    margin: 1rem;
    .tableTitle{
        text-align: center;
    }
    .tableContainer{
        .data-table{
            width: 80%;
            margin: 20px auto;
        }
    }
}